.image-title {
  transition: width 2s, height 2s, transform 2s;

  &:hover {
    transform: rotate(180deg);
  }
}

.tab {
  .title {
    padding-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &:hover {
    color: #ff8b13;
    transition: 0.2s ease-in;
    margin-bottom: 5px;
  }
}
